.postMeta{
	position: absolute;
	bottom: 20px;
	width: calc(100% - 40px);
}
#postContent{position: relative;padding:0;}
#postContent h2 a{color:#3e465b;}
#postContent h2 a:hover{border-bottom:1px solid}
.pageImg{
    margin-top: -6em;
    position: relative;
    height: 50vh;
}
.pageImg:after {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    content: "";
    background: -webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,.1)),to(rgba(0,0,0,.8)));
    background: linear-gradient(180deg,rgba(0,0,0,.1) 0,rgba(0,0,0,.8));
}

@media only screen and (max-width: 980px) {
    .postMeta{
	    position: relative;
	    bottom: 0;
	    width: 100%;
	    padding: 4em 0 1em;
    }
}
@media only screen and (max-width: 768px) {
    #postContent{
	    padding: 0.75rem;
    }
}