.postMeta{
	position: absolute;
	bottom: 20px;
	width: calc(100% - 25px);
}
#postContent{position: relative;padding: 0.75rem 0.75rem 0}

#postContent h2 a{color:#3e465b}

@media only screen and (max-width: 915px) {
    .postMeta{
	    position: relative;
	    bottom: 0;
	    width: 100%;
	    padding: 4em 0 1em;
    }
}
@media only screen and (max-width: 768px) {
    #postContent{
	    padding: 0.75rem;
    }
}