.section .container .content,
.section .container.content{
	padding: 3rem 1.5rem;
}
.content p, 
ul li, 
ol li{
	font-size: 1.125em; word-wrap:break-word;
}
.content a:hover{
	color: #fff;
    padding: 5px 0;
    background-color: #6bc76b;
}
.content blockquote{
    background-image: url(../img/quote_e50de5.svg);
    background-repeat: no-repeat;
    background-color: transparent;
    border-left: 0;
    margin-top: 40px;
    margin-bottom: 80px;
    padding-top: 48px;
    quotes:none;
}
.content blockquote p {
    font-size: 1.5em!important;
    font-weight: 400;
    letter-spacing: -.3px;
}
code{
    font-size: 0.8em!important;
    background: #f9f9f9;
    padding: 2.5px 5px;
    color:#000;
    letter-spacing: 2px;
    border: 1px solid #f3f3f4;
}
#pageTitle{
    position: absolute;
    left:0;
    right:0;
	width: 100%;
    text-align: center;
    display:grid;
    align-items: center;
    height: 50vh;
    top:20%;
}
.index-module--pageImg--3iY_7 .gatsby-image-wrapper,
.post-module--postImg--3Kcad .gatsby-image-wrapper{height:80vh;}
.contactForm{
	margin-left:4em;
	margin-right:4em;
}
.wp-block-preformatted{
	background-color: #f1f1d8;
	margin-bottom: 3em!important;
}
table {
	border-collapse: collapse;
}
table, th, td {
	border: 1px solid #ddd;
}
th, td {
	padding: 15px;
	text-align: left;
}
th, td {
	border-bottom: 1px solid #ddd;
}
tr:nth-child(even) {
	background-color: #f2f2f2;
}
th {
	background-color: #4CAF50;
	color: #fff;
}
@media screen and (max-width: 1023px){
    .contactForm{margin-left:0;margin-right:0;}
}
@media screen and (max-width: 768px){
    #mobileSection{padding: 0 0.5rem;}
}