h1{text-transform: capitalize}
.entryHeader{
    position: absolute;
    left:0;
    right:0;
	width: 100%;
    text-align: center;
    display:grid;
    align-items: center;
    top:20%;
}
.postImg{
    margin-top: -6em;
    position: relative;
    height: 50vh;;
}
.postImg:after {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    content: "";
    background: -webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,.1)),to(rgba(0,0,0,.8)));
    background: linear-gradient(180deg,rgba(0,0,0,.1) 0,rgba(0,0,0,.8));
}
.pagination{
	margin-bottom: 5em;
}
progress{
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	top:auto!important;
}