.postList{
	box-shadow: rgba(35, 38, 52, 0.08) 0px 26px 50px 0px;
    padding: 0px;
    margin-bottom: 50px!important;
    margin-left: 0;
    margin-right: 0;
}
.featuredImage{padding: 0;line-height: 0}
.postMetaDetails{
	display: grid;
	grid-template-columns:1fr 1fr;
	align-items: center;
}
.postContentInner{padding: 0.75rem 1.5rem 0}
.readMore{
	position:relative;
	text-align:right;
}
.readMore a{
	font-size: 14px;
	font-weight:700;
}
.readMore a:hover{border-bottom:1px solid}
.publishedDate{opacity:0.20;color:#2F3544}

.pagination .navbar-item{
	font-size: 2.25vw;
	font-weight: 700;
}

@media only screen and (min-width: 769px) {
	.post-excerpt p{
		font-size: 1.15vw;
		line-height: 1.5em;
	}
}
@media only screen and (max-width: 768px) {
    .featuredImage{
	    text-align: center
    }
    .post-excerpt p{
		font-size: 3.25vw;
	}
	.pagination .navbar-item{
		font-size: 5.25vw;
	}
	.postContentInner{
		padding: 0.75rem 0 0;
	}
}